/* Styles */


h1 {
	text-align:center;
	padding-top:5%;
}

.hidden {

	display:none;
}


.row > div {
	margin-bottom:10px;
}


#img-logo {
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:6em;
}

@media screen and (min-width:720px) {

	#img-logo {
		position:absolute;
		top:20px;
		right:50px;
		width:8em;
	}
}

.nav{
	margin-top:3em;
}

.tab-pane{
	padding:5%;
}

#form-searchByCategory{
	padding-bottom:5%;
}

#search-results {
	padding-top:5%;
	padding-bottom:5%;
}
